.logo {
  font-size: 24px;
}

.icon {
  margin-right: 10px;
}

.header {
  margin: 20px 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu {
  font-size: 18px;
  font-weight: 700;
}

.menu button {
  border: none;
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  color: #3C2A4D;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.menu button:hover {
  color: red;
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-left: 30px;
}